<table>
  <tr>
    <th>Name</th><th>Last name</th><th>ID number</th><th>Phone number</th><th>Email</th><th>Position</th><th>Shabat</th><th>Admin</th>
    <th></th>
  </tr>
  <% @allusrs = User.find(:all)%>
  <% @allusrs.each do |usr| %>
      <tr>
        <th><%= usr.name %></th><th><%= usr.l_name %></th><th><%= usr.id_number %></th>
        <th><%= usr.phone %></th><th><%= usr.email %></th>
        <th><%= usr.position %></th><th><%= usr.shabat %></th><th><%= usr.admin %></th>
        <% if admin? %>
            <th><%= link_to 'Edit', edit_user_path(usr)%></th>
        <% end %>
      </tr>
  <%end%>

</table>