
<div>
  Please select shifts you can work.
</div>
</br>
<div align="center"><b>First week.</b></div>
<table id="part_time_table" style="margin: 0px auto;width: 100%;text-align: center;">
  <tr>
    <td></td>
    <td><%= @days_of_week[0] %></td>
    <td><%= @days_of_week[1] %></td>
    <td><%= @days_of_week[2] %></td>
    <td><%= @days_of_week[3] %></td>
    <td><%= @days_of_week[4] %></td>
    <td><%= @days_of_week[5] %></td>
    <td><%= @days_of_week[6] %></td>
  </tr>
  <tr>
    <td>Morning<p> 07:00 - 15:00</p></td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

   </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
  </tr>
  <tr>
    <td>Evening <p>15:00 - 23:00</p></td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
  </tr>
  <tr>
    <td>Night <p>23:00 - 07:00</p></td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
  </tr>

</table>
<br/>
<div align="center"><b>Second week.</b></div>
<table id="part_time_table" style="margin: 0px auto;width: 100%;text-align: center;">
  <tr>
    <td></td>
    <td><%= @days_of_week[0] %></td>
    <td><%= @days_of_week[1] %></td>
    <td><%= @days_of_week[2] %></td>
    <td><%= @days_of_week[3] %></td>
    <td><%= @days_of_week[4] %></td>
    <td><%= @days_of_week[5] %></td>
    <td><%= @days_of_week[6] %></td>
  </tr>
  <tr>
    <td>Morning<p> 07:00 - 15:00</p></td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
  </tr>
  <tr>
    <td>Evening <p>15:00 - 23:00</p></td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
  </tr>
  <tr>
    <td>Night <p>23:00 - 07:00</p></td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
    <td >

    </td>
  </tr>

</table>
<br/>