<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :password %>
        <%= f.text_field :password %>

        <%= f.label :new_password %>
        <%= f.text_field :password %>

        <%= f.label :confirm %>
        <%= f.text_field :password %>


        <span style="display: -webkit-inline-box;">
            <%= f.submit "Change password", class: "btn btn-large btn-primary" %>&nbsp;

            <%= link_to "Cancel", '/settings', :class => "btn btn-large btn-primary"  %>
        </span>
    <% end %>

  </div>
</div>
