
<div>
  Please select 6 days to work. The 7th day will be dayoff.
</div>
</br>


<br/>
<table id="full_time_table_first" style="margin: 0px auto;width: 60%;text-align: center;">
      <tr>
        <td class="header"><%= @days_of_week[0] %></td>
        <td class="header"><%= @days_of_week[1] %></td>
        <td class="header"><%= @days_of_week[2] %></td>
        <td class="header"><%= @days_of_week[3] %></td>
        <td class="header"><%= @days_of_week[4] %></td>
        <td class="header"><%= @days_of_week[5] %></td>
        <td class="header"><%= @days_of_week[6] %></td>
      </tr>
    <tr height='150'>
        <td onclick='changeColor(this)' class = <%= getClass("Sunday", "1")%>>
            <%= label :some_label, "Sunday" %>
        </td>


        <td onclick='changeColor(this)' class = <%= getClass("Monday", "1")%>>
            <%= label :some_label, "Monday" %>
        </td>


        <td onclick='changeColor(this)' class = <%= getClass("Tuesday", "1" )%>>
            <%= label :some_label, "Tuesday" %>
        </td>


        <td onclick='changeColor(this)' class = <%= getClass("Wednesday", "1")%>>
            <%= label :some_label, "Wednesday" %>
        </td>



        <td onclick='changeColor(this)' class = <%= getClass("Thursday", "1")%>>
            <%= label :some_label, "Thursday" %>
        </td>


        <td onclick='changeColor(this)' class = <%= getClass("Friday", "1")%>>
            <%= label :some_label, "Friday" %>
        </td>


        <td onclick='changeColor(this)' class = <%= getClass("Saturday", "1")%>>
            <%= label :some_label, "Saturday" %>
        </td>


</table>

<br>

<br/>

<div style="text-align:center">
    <%= link_to "Submit", '#',:id => "submit_full", :onclick => "submit_full()", class: "btn btn-large btn-primary" %>
</div>