<table id="part_time_table" style="margin: 0px auto;width: 90%;text-align: center;">
  <tr>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Sunday\nmorning" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Monday\nmorning" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Tuesday\nmorning" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Wednesday\nmorning" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Thursday\nmorning" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Friday\nmorning" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Saturday\nmorning" %>
    </td>
  </tr>
  <tr>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Sunday\nevening" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Monday\nevening" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Tuesday\nevening" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Wednesday\nevening" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Thursday\nevening" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Friday\nevening" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Saturday\nevening" %>
    </td>
  </tr>
  <tr>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Sunday\nnight" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Monday\nnight" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Tuesday\nnight" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Wednesday\nnight" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Thursday\nnight" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Friday\nnight" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Saturday\nnight" %>
    </td>
  </tr>

</table>

<br/>

<div style="text-align:center">
  <%= link_to "Submit", '#', :onclick => "submit_part()", class: "btn btn-large btn-primary" %>
</div>