<table id="part_time_table" style="margin: 0px auto;width: 90%;text-align: center;">
  <tr>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Sunday morning" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Monday morning" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Tuesday morning" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Wednesday morning" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Thursday morning" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Friday morning" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Saturday morning" %>
    </td>
  </tr>
  <tr>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Sunday evening" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Monday evening" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Tuesday evening" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Wednesday evening" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Thursday evening" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Friday evening" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Saturday evening" %>
    </td>
  </tr>
  <tr>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Sunday night" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Monday night" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Tuesday night" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Wednesday night" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Thursday night" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Friday night" %>
    </td>
    <td onclick='changeColor(this)'>
      <%= label :some_label, "Saturday night" %>
    </td>
  </tr>

</table>

<br/>

<div style="text-align:center">
  <%= link_to "Submit", '#', :onclick => "submit_part()", class: "btn btn-large btn-primary" %>
</div>