
<div>
  Please select shifts you can work.
</div>

<table id="part_time_table_first"  style="margin: 0px auto;width: 90%;text-align: center;">
  <tr>
    <td class="header"><%= @days_of_week[0] %></td>
    <td class="header"><%= @days_of_week[1] %></td>
    <td class="header"><%= @days_of_week[2] %></td>
    <td class="header"><%= @days_of_week[3] %></td>
    <td class="header"><%= @days_of_week[4] %></td>
    <td class="header"><%= @days_of_week[5] %></td>
    <td class="header"><%= @days_of_week[6] %></td>
  </tr>
  <tr>
    <td onclick='changeColor(this)' class = <%= getClass("Sunday_morning", 1)%>>
      <%= label :some_label, "Sunday morning" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Monday_morning", 1)%>>
      <%= label :some_label, "Monday morning" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Tuesday_morning", 1)%>>
      <%= label :some_label, "Tuesday morning" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Wednesday_morning", 1)%>>
      <%= label :some_label, "Wednesday morning" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Thursday_morning", 1)%>>
      <%= label :some_label, "Thursday morning" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Friday_morning", 1)%>>
      <%= label :some_label, "Friday morning" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Saturday_morning", 1)%>>
      <%= label :some_label, "Saturday morning" %>
    </td>
  </tr>
  <tr>
    <td onclick='changeColor(this)' class = <%= getClass("Sunday_evening", 1)%>>
      <%= label :some_label, "Sunday evening" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Monday_evening", 1)%>>
      <%= label :some_label, "Monday evening" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Tuesday_evening", 1)%>>
      <%= label :some_label, "Tuesday evening" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Wednesday_evening", 1)%>>
      <%= label :some_label, "Wednesday evening" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Thursday_evening", 1)%>>
      <%= label :some_label, "Thursday evening" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Friday_evening", 1)%>>
      <%= label :some_label, "Friday evening" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Saturday_evening", 1)%>>
      <%= label :some_label, "Saturday evening" %>
    </td>
  </tr>
  <tr>
    <td onclick='changeColor(this)' class = <%= getClass("Sunday_night", 1)%>>
      <%= label :some_label, "Sunday night" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Monday_night", 1)%>>
      <%= label :some_label, "Monday night" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Tuesday_night", 1)%>>
      <%= label :some_label, "Tuesday night" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Wednesday_night", 1)%>>
      <%= label :some_label, "Wednesday night" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Thursday_night", 1)%>>
      <%= label :some_label, "Thursday night" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Friday_night", 1)%>>
      <%= label :some_label, "Friday night" %>
    </td>
    <td onclick='changeColor(this)' class = <%= getClass("Saturday_night", 1)%>>
      <%= label :some_label, "Saturday night" %>
    </td>
  </tr>
</table>

<div style="text-align:center">
  <%= link_to "Submit", '#', :onclick => "submit_part()", class: "btn btn-large btn-primary" %>
</div>