<table>
  <tr>
    <th>Name:</th>    <th><%= @user.name %></br></th>
  </tr>
  <tr>
    <th>Last name:</th>    <th><%= @user.l_name %></br></th>
  </tr>
  <tr>
    <th>ID:</th>    <th><%= @user.id_number%></th>
  </tr>
  <tr>
    <th>Phone number:</th>    <th><%= @user.phone %></br></th>
  </tr>
  <tr>
    <th>Email:</th>    <th><%= @user.email %></th>
  </tr>
  <tr>
    <th>Position:</th>    <th><%= @user.position %></th>
  </tr>
  <tr>
    <th>Working on shabat:</th>    <th><%= @user.shabat %></th>
  </tr>
  <tr>
    <th>Admin:</th> <th><%= @user.admin %></th>
  </tr>
</table>

<%= link_to 'Change password', chng_pass_path %>