<div align="center">
  View all shifts.
</div>

<br/>


<div class="zui-wrapper">
<div class="zui-scroller" >
<table id="calendar_table_first" class="zui-table">
<colgroup>

  <col class="zui-table-col-even"/>
  <col class="zui-table-col-odd"/>
  <col class="zui-table-col-even"/>
  <col class="zui-table-col-odd"/>
  <col class="zui-table-col-even"/>
  <col class="zui-table-col-odd"/>
  <col class="zui-table-col-even"/>
  <col class="zui-table-col-odd"/>

</colgroup>

<tr>
      <td class="zui-sticky-col"  style="border: 0;"></td>
  <td class="header">Sunday, <%= @days_of_week[0] %></td>
  <td class="header">Monday, <%= @days_of_week[1] %></td>
  <td class="header">Tuesday, <%= @days_of_week[2] %></td>
  <td class="header">Wednesday, <%= @days_of_week[3] %></td>
  <td class="header">Thursday, <%= @days_of_week[4] %></td>
  <td class="header">Friday, <%= @days_of_week[5] %></td>
  <td class="header">Saturday, <%= @days_of_week[6] %></td>
</tr>


<tr>
  <td  class="zui-sticky-col">Morning<p> 07:00 - 15:00</p></td>
  <td>

    <ul class="unstyled">


      <% @firstShiftsMap['Sunday_morning'].each do |element| %>

          <li>
                <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
          </li>
      <% end %>
    </ul>
  </td>

  <td>
    <ul class="unstyled">

      <table>
        <% @firstShiftsMap['Monday_morning'].each do |element| %>

            <li>
                <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
            </li>
        <% end %>
      </table>
    </ul>
  </td>

  <td>
    <ul class="unstyled">
      <% @firstShiftsMap['Tuesday_morning'].each do |element| %>
          <li>
                <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
          </li>
      <% end %>
    </ul>
  </td>

  <td>
    <ul class="unstyled">
      <% @firstShiftsMap['Wednesday_morning'].each do |element| %>
          <li>
                <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
          </li>
      <% end %>
    </ul>
  </td>

  <td>
    <ul class="unstyled">
      <% @firstShiftsMap['Thursday_morning'].each do |element| %>
          <li>
                <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
          </li>
      <% end %>
    </ul>
  </td>

  <td>

    <ul class="unstyled">
      <% @firstShiftsMap['Friday_morning'].each do |element| %>
          <li>
                <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
          </li>
      <% end %>
    </ul>

  </td>

  <td>

    <ul class="unstyled">
      <% @firstShiftsMap['Saturday_morning'].each do |element| %>
          <li>
                <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
          </li>
      <% end %>
    </ul>

  </td>
</tr>



<tr>
  <td  class="zui-sticky-col">Evening<p>15:00 - 23:00</p></td>
  <td>
    <ul class="unstyled">
      <% @firstShiftsMap['Sunday_evening'].each do |element| %>
          <li><%= element %></li>
      <% end %>
    </ul>
  </td>

  <td>

    <ul class="unstyled">
      <% @firstShiftsMap['Monday_evening'].each do |element| %>
          <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
      <% end %>
    </ul>
  </td>

  <td>

    <ul class="unstyled">
      <% @firstShiftsMap['Tuesday_evening'].each do |element| %>
          <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
      <% end %>
    </ul>

  </td>

  <td>

    <ul class="unstyled">
      <% @firstShiftsMap['Wednesday_evening'].each do |element| %>
          <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
      <% end %>
    </ul>

  </td>

  <td>


    <ul class="unstyled">
      <% @firstShiftsMap['Thursday_evening'].each do |element| %>
          <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
      <% end %>
    </ul>

  </td>

  <td>


    <ul class="unstyled">
      <% @firstShiftsMap['Friday_evening'].each do |element| %>
          <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
      <% end %>
    </ul>

  </td>

  <td>

    <ul class="unstyled">
      <% @firstShiftsMap['Saturday_evening'].each do |element| %>
          <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
      <% end %>
    </ul>

  </td>
</tr>


<tr>
  <td  class="zui-sticky-col">Night<p> 23:00 - 07:00</p></td>
  <td>

    <ul class="unstyled">
      <% @firstShiftsMap['Sunday_night'].each do |element| %>
          <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
      <% end %>
    </ul>

  </td>

  <td>

    <ul class="unstyled">
      <% @firstShiftsMap['Monday_night'].each do |element| %>
          <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
      <% end %>
    </ul>

  </td>

  <td>

    <ul class="unstyled">
      <% @firstShiftsMap['Tuesday_night'].each do |element| %>
          <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
      <% end %>
    </ul>

  </td>

  <td>

    <ul class="unstyled">
      <% @firstShiftsMap['Wednesday_night'].each do |element| %>
          <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
      <% end %>
    </ul>
  </td>

  <td>

    <ul class="unstyled">
      <% @firstShiftsMap['Thursday_night'].each do |element| %>
          <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
      <% end %>
    </ul>

  </td>

  <td>

    <ul class="unstyled">

      <% @firstShiftsMap['Friday_night'].each do |element| %>
          <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
      <% end %>
    </ul>

  </td>

  <td>

    <ul class="unstyled">

      <% @firstShiftsMap['Saturday_night'].each do |element| %>
          <span style="display: inline;white-space: nowrap;">
                  <label style="display: inline; white-space: nowrap;" ><%= element %></label>
                </span>
      <% end %>
    </ul>

  </td>
</tr>

</table>
</div>
</div>



